<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id = "menu_hospital_roof"
            web_icon="om_hospital,static/description/odoo_icon.png"
            name="Hospital"
            sequence="0"/>

    <menuitem
            id = "menu_patient_master"
            name="Patient Detail"
            parent = "menu_hospital_roof"
            sequence="0"/>
</odoo>